*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  min-height: 100%;
  min-width: 100%;
  background-color: antiquewhite;
}

#root{
  min-height: 100vh;
  min-width: 100vw;
  border: 1px solid green;
}